@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.text-clip{
  background: linear-gradient(90deg, #B16CEA -0.87%, #CE67BB 11.65%, #FF5E69 32.56%, #FF7A5D 64.12%, #FF8A56 87.09%, #FFA84B 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}


