@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.text-clip{
  background: linear-gradient(90deg, #B16CEA -0.87%, #CE67BB 11.65%, #FF5E69 32.56%, #FF7A5D 64.12%, #FF8A56 87.09%, #FFA84B 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.playfair{
  font-family: 'Playfair Display', serif
}

@layer components {
  p,span,h4,h3,h1,h2,a, li,h5{
    @apply dark:text-white
  }
}

.moon-shadow{
  box-shadow: 2px 1px 10px rgba(2, 0, 114, 0.1);
}

/* .small-list {
  list-style: none;
}

.small-list:before {
  content:"·";
  font-size:120px;
  vertical-align:middle;
  line-height:20px;
} */

